[submodule "homework-repos/github-starter-course"]
	path = homework-repos/github-starter-course
	url = git@github.com:stat850-unl/github-starter-course.git
[submodule "homework-repos/review-r-python"]
	path = homework-repos/review-r-python
	url = git@github.com:unl-stat251/review-r-python.git
[submodule "homework-repos/decodeR-exercises"]
	path = homework-repos/decodeR-exercises
	url = git@github.com:srvanderplas/decodeR-exercises.git
[submodule "homework-repos/03-cipher"]
	path = homework-repos/03-cipher
	url = git@github.com:unl-stat251/03-cipher
[submodule "homework-repos/04-reading-data-cookies"]
	path = homework-repos/04-reading-data-cookies
	url = git@github.com:unl-stat251/hw-reading-data-template.git
[submodule "homework-repos/05-graphics"]
	path = homework-repos/05-graphics
	url = git@github.com:unl-stat251/graphics-homework.git
[submodule "exam-midterm"]
	path = exam-midterm
	url = git@github.com:unl-stat251/2023-Midterm.git
