project:
  type: website
  output-dir: docs
  pre-render:
    - scripts/update-assignment-dates.R
    - scripts/hide-future-assignments.R
  render:
    - index.qmd
    - homework/*.qmd
    - project/*.qmd
    - slides/*.qmd
    - exam/2023-midterm/*.qmd
    - exam/2024-midterm/*.qmd
    - exam/data-earthquakes/*.qmd
    - exam/*.qmd


execute:
  cache: true
  freeze: true  # never re-render during project render

website:
  title: "Stat 251 - Data Wrangling"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: https://srvanderplas.github.io/stat-computing-r-python/
        text: Textbook
      - href: https://canvas.unl.edu/courses/214466/assignments/syllabus
        text: Syllabus
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
