/*-- scss:defaults --*/


$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-cursive: 'Handlee', cursive;
$web-font-path: "https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:wght@400;700&display=swap" !default;

@if $web-font-path {
  @import url($web-font-path);
}

$font-family-sans-serif: Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-cursive: Handlee, cursive, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


$headings-font-weight:      400 !default;

h1, h2, h3, h4 {
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

h1 { 
	color: #d00000;
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif; 
  /*background: rgba(.9961, .9922, .9804, .3);*/
  padding:20px;
}
h2 { 
	color: #001226;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif; 
}
h3 { 
	color: #249ab5;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif; 
}
h4 { 
  font-size: 1.25em; 
  font-family: 'Montserrat', sans-serif; 
}

body{
  font-size: 1em;
  font-weight:400;
  font-family: 'Montserrat', sans-serif; 
}

/*-- scss:rules --*/

a {
  color: #1B8500;
}

/* Other font formatting stuff */
.emph { font-family: 'Handlee', cursive; }
.red { color: #d00000 !important;}
.orange {color: #f58a1f !important;}
.yellow {color: #ffd74f !important;}
.green {color: #1B8500 !important;}
.cerulean { color: #249ab5 !important; }
.blue {color: #005d84 !important;}
.purple {color: #a5228d!important;}
.grey {color: #c7c8ca!important;}


/* other handy classes */
.large {font-size: 130%!important}
.largish{font-size:110%!important;}
.reg{font-size:100%!important;}
.slightly-small {font-size: 80%!important}
.smaller {font-size: 75%!important}
.small {font-size: 70%!important}
.tiny {font-size: 50%!important}
.microscopic {font-size: 28%!important}

.underline {
  border-bottom:1px solid black;display:inline-block;
}

.hidden{
  visibility:hidden;
}


.inverse {
  color: #fefdfa;
  .underline{border-bottom:1px solid #fefdfa;display:inline-block;}
  
  h1, h2, h3 {
    color: #d00000;
  }

  a {
    color: #ffd74f;
  }

  p code {
    color: #ffd700;
  }

  .slide-background-content {
    background-color: #001226;
  }

    .callout-caption {
    color: $body-color;
  }

  pre {
    background-color: #001226;
  }

}

figure p img {
  margin:0px!important;
}

figure p{
  margin-top:5px!important;
  margin-bottom:5px!important;
}

.quarto-figure {
  margin-bottom:10px!important;
  margin-left:0px!important;
}

figure figcaption{
  margin-top:2px!important;
  margin-bottom:0px!important;
}